/*** body ***/


header {
  background-color: #E5F3F2;
}

header h1, span {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

header input {
  height: 20px;
  width: 500px;
  position: absolute;
}

span {
  margin: 30px 0;
  display: inline-block;
  color: #6D6E71
}

::-webkit-input-placeholder {
  font-size: 14px;
}

.body-input {
  font-family: 'Open Sans', sans-serif;
  color: #939598;
  font-size: 14px;
  margin: 10px auto;
  word-wrap: break-word;
  line-height: 1.5;
}


.btn-header{
  background-color:#00A79D;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  top: 95px;
  width: 406px;
}

.btn-header:hover{
  background-color:#045E55;
}
#char-title, #char-body{
    font-size: 16px;
}

.completed {
  text-decoration: line-through;
}

.idea-form {
  background-color: #E5F3F2;
  position: relative;
  height: 155px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.idea-text {
  color: #00A79D;
  margin-bottom: 20px;
}

#input-title, #input-body, #search-bar {
  width: 400px;
  display: block;
  margin: auto;
  /*padding: 0;
  margin: 0;*/
}

#input-body {
  top: 45px;
  width: 400px;
  height: 20px;
}

/*** main ***/

li {
 margin: auto;
 list-style: none;
 width: 400px;
 padding: 20px 0;
 border-bottom: 2px solid #D1D3D4;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  /*position: relative;*/
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-body{
  /*position: relative;*/
  background-color:#00A79D;
  border: none;
  /*width: 406px;*/
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  margin: 0px 5px 20px;
  padding: 0;
  text-align: center;
  top: 95px;
}

.btn-body:hover{
  background-color:#045E55;
}

.completed-todo{
  display: inline-block;
  margin: 0px 10px;
  float: right;
}

.delete-idea, .upvote, .downvote, .completed-todo {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
  border: none;
  cursor: pointer;
}

.delete-idea {
  background: url('../images/svg-images/delete.svg') no-repeat;
  display: inline-block;
  margin: 0;
  float: right;
}

.delete-idea:hover {
  background: url('../images/svg-images/delete-hover.svg')
}

.downvote {
  background: url('../images/svg-images/downvote.svg') no-repeat;
  margin-right: 12px;
}

.downvote:hover {
  background: url('../images/svg-images/downvote-hover.svg')
}

.idea-title {
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  font-size: 18px;
  line-height: 1.25;
  display: inline-block;
  max-width: 250px;
  word-wrap: break-word;
}

.quality-control {
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  font-size: 12px;
  padding-top: 2px;
}

.upvote {
  background: url('../images/svg-images/upvote.svg') no-repeat;
  margin-right: 12px;
}

.upvote:hover {
  background: url('../images/svg-images/upvote-hover.svg')
}

.vote {
  width: auto;
  display: inline-flex;
}

#search-bar {
  width: 400px;
  display: block;
  margin: auto;
  /*padding: 0;
  margin: 0;*/
  height: 20px;
  margin-bottom: 20px;
}

@media (max-width: 440px) {

/*** header ***/
  header h1, span {
    font-size: 30px;
  }

  header input {
    width: 300px;
  }

  span {
    margin: 20px 0;
  }

  ::-webkit-input-placeholder {
    font-size: 16px;
    padding: 0;
  }

  .idea-form {
    height: 195px;
  }

  #input-title, #input-body, #search-bar {
    width: 300px;
    display: block;
    margin: auto;
  }

  #input-body {
    height: 60px;
  }

  #btn-save {
    width: 306px;
    font-size: 16px;
    top: 135px;
  }

  /*** main ***/
  li {
    width: 300px;
  }

  .body-input {
    font-size: 16px;
  }

  .delete-idea, .upvote, .downvote {
    height: 22px;
    width: 22px;
  }

  .delete-idea {
    background: url('../images/svg-images/delete.svg') no-repeat;
    display: inline-block;
    margin: 0px 10px;
    float: right;
  }

  .idea-title {
    font-size: 20px;
    max-width: 150px;
  }

  .quality-control {
    font-size: 14px;
    padding-top: 4px;
  }
}
