/*** body ***/


header {
  background-color: $background-form;
  outline-color: magenta 5px;
}

header h1, p, span {
  font-family: $serif-font;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

header input {
  height: 20px;
  width: 500px;
  // position: absolute;
}

header p {
  text-align: left;
}

span {
  margin: 30px 0;
  display: inline-block;
  color: $logo-two;
}

::-webkit-input-placeholder {
  font-size: 14px;
}

.btn-header{
  background-color: $btn-color;
  border: none;
  color: $btn-font-color;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  width: 460px;
}

.btn-header:hover{
  background-color:$btn-hover-color;
}

.idea-form {
  background-color: $background-form;
  width: 460px;
  margin: auto;
  // position: absolute;
  // -webkit-justify-content: center;
}

.idea-text {
  color: $logo-one;
  margin-bottom: 20px;
}

#char-body, #char-title, #input-title, #input-body {
  border: 2;
  color: $input-font-color;
  display: block;
  font-family: $sans-font;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  max-width: 455px;
}

#char-title, #char-body{
  font-size: 12px;
  width: 460px;
}

/*** main ***/

li {
 margin: auto;
 list-style: none;
 width: 460px;
 padding: 20px 0;
 border-bottom: 2px solid $line-color;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 460px;
}

.body-input, .idea-title, .idea-titleuncompleted {
  color: $font-color;
  // display: block;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  max-width: 430px;
  min-width: 430px;
  text-align: left;
  word-wrap: break-word;
}

.completed-todo, .delete-idea, .downvote, .upvote {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
  border: none;
  cursor: pointer;
}
.btn-body{
  background-color: $btn-color;
  border: none;
  color: $btn-font-color;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  margin-bottom: 20px;
  padding: 0 4px;
  text-align: center;
  top: 95px;
}

.btn-body:hover{
  background-color: $btn-hover-color;
}

.body-input {
  display: block;
}
.completed {
  text-decoration: line-through;
}

.completed-todo{
  display: inline-block;
  font-size: 12px;
  float: right;
  height: 20px;
  margin: 0px 0px 10px 0px;
  padding-bottom: 2px;
  width: 75px;
}


.delete-idea {
  background: url('../images/svg-images/delete.svg') no-repeat;
  // display: inline-block;
  margin: 3px;
  float: right;
}

.delete-idea:hover {
  background: url('../images/svg-images/delete-hover.svg')
}

.downvote {
  background: url('../images/svg-images/downvote.svg') no-repeat;
  margin-right: 12px;
}

.downvote:hover {
  background: url('../images/svg-images/downvote-hover.svg')
}


.quality-control {
  font-family: 'Roboto Slab', serif;
  color: $font-color;
  font-size: 12px;
  padding-top: 2px;
}

.upvote {
  background: url('../images/svg-images/upvote.svg') no-repeat;
  margin-right: 12px;
}

.upvote:hover {
  background: url('../images/svg-images/upvote-hover.svg')
}

.vote {
  width: auto;
  display: inline-flex;
}

#search-bar {
  border: 2;
  color: $input-font-color;
  display: block;
  display: block;
  font-family: $sans-font;
  font-size: 14px;
  // margin: auto;
  line-height: 1.5;
  margin: auto;
  // margin: 0;
  margin-bottom: 20px;
  padding: 1;
  height: 20px;
  width: 456px;
  word-wrap: break-word;
}

@media (max-width: 460px) {

/*** header ***/
  header h1, span {
    font-size: 30px;
  }

  header input {
    width: 320px;
  }

  span {
    margin: 20px 0;
  }

  .idea-form {
    width: 320px
  }

  #input-title, #input-body, #search-bar {
    width: 315px;
    display: block;
    margin: auto;
  }

  #input-body {
    height: 60px;
  }

  #btn-save {
    width: 320px;
    font-size: 16px;
    top: 135px;
  }

  /*** main ***/

  nav {
    flex-direction:: column;
    flex-wrap: wrap;
    width: 320px;
  }

  li {
    width: 320px;
  }

.body-input, .idea-title, .idea-titleuncompleted {
    font-size: 16px;
    max-width: 320px;
    min-width: 320px;
  }

  .btn-body {
    margin-bottom: 5px;
  }

  .delete-idea, .upvote, .downvote {
    height: 22px;
    width: 22px;
  }

  .delete-idea {
    background: url('../images/svg-images/delete.svg') no-repeat;
    display: inline-block;
    margin: 0px 10px;
    float: right;
  }

  .idea-title {
    font-size: 20px;
    max-width: 150px;
  }

  .quality-control {
    font-size: 14px;
    padding-top: 4px;
  }
}
