/*** body ***/


header {
  background-color: $background-form;
  outline-color: magenta 5px;
}

header h1, p, span {
  font-family: $serif-font;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

header input {
  height: 20px;
  width: 500px;
  // position: absolute;
}

header p {
  text-align: left;
}

span {
  margin: 30px 0;
  display: inline-block;
  color: $logo-two;
}

::-webkit-input-placeholder {
  font-size: 14px;
}

.btn-header{
  background-color: $btn-color;
  border: none;
  color: $btn-font-color;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
  // position: relative;
  text-align: center;
  // top: 95px;
  width: 460px;
}

.btn-header:hover{
  background-color:$btn-hover-color;
}

.idea-form {
  background-color: $background-form;
  width: 460px;
  // display: flex;
  // display: -webkit-flex;
  // height: 155px;
  // justify-content: center;
  margin: auto;
  // position: absolute;
  // -webkit-justify-content: center;
}

.idea-text {
  color: $logo-one;
  margin-bottom: 20px;
}

#char-body, #char-title, #title-input, #body-input, #search-bar {
  border: 2;
  color: $input-font-color;
  display: block;
  font-family: $sans-font;
  font-size: 14px;
  // margin: auto;
  line-height: 1.5;
  word-wrap: break-word;
  width: 455px;
}

#char-title, #char-body{
  // display: block;
  font-size: 12px;
}

// #body-input {
//   top: 45px;
//   width: 400px;
//   height: 20px;
// }

/*** main ***/

li {
 margin: auto;
 list-style: none;
 width: 400px;
 padding: 20px 0;
 border-bottom: 2px solid $line-color;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  /*position: relative;*/
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-body{
  /*position: relative;*/
  background-color: $btn-color;
  border: none;
  /*width: 406px;*/
  color: $btn-font-color;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  margin: 0 4px 20px;
  padding: 0 4px;
  text-align: center;
  top: 95px;
}

.btn-body:hover{
  background-color: $btn-hover-color;
}

.completed {
  text-decoration: line-through;
}

.completed-todo{
  display: inline-block;
  margin: 0px 10px;
  float: right;
}

.delete-idea, .upvote, .downvote, .completed-todo {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
  border: none;
  cursor: pointer;
}

.delete-idea {
  background: url('../images/svg-images/delete.svg') no-repeat;
  display: inline-block;
  margin: 0;
  float: right;
}

.delete-idea:hover {
  background: url('../images/svg-images/delete-hover.svg')
}

.downvote {
  background: url('../images/svg-images/downvote.svg') no-repeat;
  margin-right: 12px;
}

.downvote:hover {
  background: url('../images/svg-images/downvote-hover.svg')
}

.idea-title {
  font-family: 'Roboto Slab', serif;
  color: $font-color;
  font-size: 18px;
  line-height: 1.25;
  display: inline-block;
  max-width: 250px;
  word-wrap: break-word;
}

.quality-control {
  font-family: 'Roboto Slab', serif;
  color: $font-color;
  font-size: 12px;
  padding-top: 2px;
}

.upvote {
  background: url('../images/svg-images/upvote.svg') no-repeat;
  margin-right: 12px;
}

.upvote:hover {
  background: url('../images/svg-images/upvote-hover.svg')
}

.vote {
  width: auto;
  display: inline-flex;
}

#search-bar {
  width: 400px;
  display: block;
  margin: auto;
  /*padding: 0;
  margin: 0;*/
  height: 20px;
  margin-bottom: 20px;
}

@media (max-width: 440px) {

/*** header ***/
  header h1, span {
    font-size: 30px;
  }

  header input {
    width: 300px;
  }

  span {
    margin: 20px 0;
  }

  ::-webkit-input-placeholder {
    font-size: 16px;
    padding: 0;
  }

  .idea-form {
    height: 195px;
  }

  #title-input, #body-input, #search-bar {
    width: 300px;
    display: block;
    margin: auto;
  }

  #body-input {
    height: 60px;
  }

  #btn-save {
    width: 306px;
    font-size: 16px;
    top: 135px;
  }

  /*** main ***/
  li {
    width: 300px;
  }

  .body-input {
    font-size: 16px;
  }

  .delete-idea, .upvote, .downvote {
    height: 22px;
    width: 22px;
  }

  .delete-idea {
    background: url('../images/svg-images/delete.svg') no-repeat;
    display: inline-block;
    margin: 0px 10px;
    float: right;
  }

  .idea-title {
    font-size: 20px;
    max-width: 150px;
  }

  .quality-control {
    font-size: 14px;
    padding-top: 4px;
  }
}
